$colorPrimary: #e4002b;
$colorSecondary: #161616;
$colorGray: #eef1f4;
$colorWhite: #fff;
$colorTextOpacity: #a0a0a0;
$colorIcon: #eee;
$colorStock: #fbe739;
$colorlink: #0085ff;
$colorButtonHover: #313131;

$timeTransition: 0.3s;
